/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
   margin: 0; 
   padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
   scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

/* Set shorter line heights on headings and text-wrap */
h1, h2, h3, h4 {
  line-height: 1.2;
  text-wrap: balance;
}


/* A elements that don't have a class get default styles */


button { 
   cursor: pointer; 
 }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10rem;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* More consistent, styleable hr*/ 
 hr { 
   border-width: 1px 0 0 0; 
   color: inherit; 
   height: 0; 
   overflow: visible; 
 }

*:focus-visible{
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 4px rgba(128, 255, 0, 0.389);
  border-radius: 0.2rem;
}

button:focus-visible{
  outline: none;
}



input { 
  appearance: none; 
  border: none; 
  outline: none; 
  padding: calc(0.1*var(--rythme)) calc(0.4*var(--rythme));
 }

:root{
    --rythme: 1rlh;
}

#main-container {
  display: grid;
  grid-template-columns: minmax(100px, 0.5fr) 2fr;
  gap: calc(2*var(--rythme));
}

#homepage-container {
  padding: var(--rythme);
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap : calc(2*var(--rythme));
}

/* SEARCH BAR */
#search-bar-container {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--rythme);
  outline: 1px solid rgb(139, 139, 139);
  border-radius: 0.2rem;
}

#search-bar-container > * {
  flex: 1;
  min-width: 40px;
}

#search-input {
  width: 100%;
}

#search-btn {
  flex-grow: 0;
  background-color: white;
  border: none;
  padding-inline: calc(.4*var(--rythme));
  transition: all 0.2s ease-out;
}

#search-btn i {
  background-color: rgba(128, 128, 128, 0.1);
  padding: calc(0.15*var(--rythme));
  border-radius: 50%;
}

#search-btn:hover{
  background-color: rgba(128, 128, 128, 0.1);
}

#search-btn:hover i {
  background-color: white;
}
