:root {
  --rythme: 1rlh;
  --bg: oklch(99% 0.006 200);
  --white: oklch(99% 0.002 200);
  --accent: oklch(30% 0.2 200);
  --accentwith10opacity: oklch(from var(--accent) l c h / 10%);
  --surface1: oklch(50% 0.02 200);
  --surface1with2opacity: oklch(from var(--surface1) l c h / 2%);
  --surface1with5opacity: oklch(from var(--surface1) l c h / 5%);
  --surface1with7opacity: oklch(from var(--surface1) l c h / 7%);
  --surface1with50opacity: oklch(from var(--surface1) l c h / 50%);
  --surface1with90opacity: oklch(from var(--surface1) l c h / 90%);
  --surface1with98opacity: oklch(from var(--surface1) l c h / 98%);
  --red: oklch(40% 0.3 20);
  --orange: oklch(90% 0.37 85 / 85%);
  --yellow: oklch(87.82% 0.1933 115.55);
  --green: oklch(40% 0.3 140);
  --shadow: oklch(5% 0.02 200 / 15%);
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  accent-color: var(--surface1);
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}


/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: "Overused Grotesk", system-ui, "Segoe UI", "Helvetica Neue", sans-serif;
}

/* Set shorter line heights on headings and text-wrap */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */

button {
  line-height: 1rlh;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: unset;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10rem;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* More consistent, styleable hr*/
hr {
  border-width: 1px 0 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

*:focus-visible {
  transition: all 0.2s ease;
  box-shadow: 0px 0px 1px 3px var(--surface1);
  border-radius: inherit;
}

input[type="radio"]:focus-visible {
  box-shadow: none;
  outline-offset: 4px;
  outline-color: var(--surface1);
}

input[type="checkbox"]:focus-visible {
  box-shadow: none;
  outline-offset: 4px;
  outline-color: var(--surface1);
}

/* Increase the size of the checkbox */
input[type="checkbox"] {
  width: calc(0.6 * var(--rythme)); /* Adjust the width */
  height: calc(0.6 * var(--rythme)); /* Adjust the height */
}

input[type="search"] {
  appearance: none;
  border: none;
  outline: none;
}

input[type="file"] {
  appearance: none;
  border: none;
  background-color: var(--bg);
  border-radius: 0.2rem 0.2rem 0 0;
  transition: all 0.2s ease-out;
}

#btn-connexion:focus-visible {
  outline: 3px solid var(--accent);
  outline-offset: 6px;
}

dialog button:focus-visible {
  box-shadow: none;
  outline: 1px ridge var(--accent);
  outline-offset: 4px;
  border-radius: 0.4rem;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent);
  background-color: var(--accentwith10opacity);
  outline: none;
  box-shadow: none;
}

input[type="search"]:focus-visible {
  background-color: var(--accentwith10opacity);
  box-shadow: none;
}

#search-btn:focus-visible {
  box-shadow: none;
  outline-color: var(--accent);
}

#search-btn:active {
  background-color: var(--accentwith10opacity);
}

body {
  background-color: var(--bg);
}

#main-container {
  margin-top: calc(2*var(--rythme));
  display: grid;
  grid-template-columns: minmax(100px, 0.5fr) 2fr;
  gap: calc(2 * var(--rythme));
}

#homepage-container {
  padding: var(--rythme);
  position: relative;
}

#library {
  view-transition-name: books;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: calc(3 * var(--rythme));
}



/* HEADER */
#header-flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#right-flex {
  display: flex;
  align-items: center;
  gap: calc(2*var(--rythme));
}

#btn-mes-reservations {
  position: relative;
  display: flex;
  gap: 1ch;
  align-items: center;
  border: 1px ridge var(--surface1with50opacity);
  box-shadow: 1px 1px 3px 0px var(--shadow);
  padding-block: calc(0.4 * var(--rythme));
  padding-inline: calc(0.6 * var(--rythme));
  font-weight: 500;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
  line-height: 1rlh;
}

#btn-mes-reservations i {
  position: relative;
}

/* ASIDE */

aside > * + * {
  margin-top: var(--rythme);
}

/* SEARCH BAR */
#search-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  outline: 1px solid var(--surface1with50opacity);
  border-radius: 0.2rem;
}

#search-bar-container > * {
  flex: 1;
}

#search-input {
  width: 100%;
  padding: calc(0.6 * var(--rythme));
  font-weight: 500;
}

#search-btn {
  flex-grow: 0;
  border: none;
  transition: all 0.2s ease-out;
  padding: calc(0.6 * var(--rythme));
}

#search-btn i {
  background-color: var(--surface1with5opacity);
  padding: calc(0.3 * var(--rythme));
  border-radius: 50%;
}

#search-btn:hover {
  background-color: var(--surface1with5opacity);
}

#search-btn:hover i {
  background-color: var(--white);
}

/* FILTER */
.dropdown-icon {
  transform: rotate(180deg);
}
#filter-container {
  position: relative;
}
#filter-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--rythme);
  outline: 1px solid var(--surface1);
  border-radius: 0.2rem;
  border: none;
  outline: 1px solid var(--surface1with50opacity);
  color: var(--surface1with90opacity);
  padding-inline: calc(0.6 * var(--rythme));
  padding-block: calc(0.4 * var(--rythme));
  font-weight: 500;
  background-color: var(--white);
}

#filter-button i {
  background-color: var(--surface1with5opacity);
  padding: calc(0.3 * var(--rythme));
  border-radius: 50%;
  color: black;
  transition: all 0.3s ease-out;
}

#filter-button i:hover {
  background-color: var(--surface1with7opacity);
}
#all-filters-container {
  display: none;
  margin-top: calc(0.25 * var(--rythme));
  width: 100%;
  padding: calc(0.5 * var(--rythme));
  border: none;
  background-color: var(--white);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px 0px var(--shadow), -1px 0px 1px 0px var(--shadow);
}

#star-filter-rating-divider {
  margin-block: calc(0.25 * var(--rythme));
}

.star-checkboxes {
  cursor: pointer;
  display: flex;
  gap: 1ch;
  line-height: 1rlh;
  align-items: baseline;
  transition: background-color 0.3s ease-out;
  padding: calc(0.25 * var(--rythme));
  border-radius: 0.15rem;
}

.star-checkboxes:hover {
  background-color: var(--surface1with7opacity);
}

.star-checkboxes i {
  color: var(--surface1);
}

.star-group {
  display: flex;
  align-items: center;
  gap: 0.25ch;
}

.filters-visible {
  z-index: 999 !important;
  display: block !important;
  animation: filters-fade-in 0.2s ease-out !important;
}

@keyframes filters-fade-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* SORTER */
#sort-container {
  position: relative;
}
#sorter {
  cursor: pointer;
  appearance: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--rythme);
  outline: 1px solid var(--surface1);
  border-radius: 0.2rem;
  border: none;
  outline: 1px solid var(--surface1with50opacity);
  color: var(--surface1with90opacity);
  padding-inline: calc(0.6 * var(--rythme));
  padding-block: calc(0.7 * var(--rythme));
  font-weight: 500;
}

#sort-container i {
  position: absolute;
  right: calc(0.6 * var(--rythme));
  top: calc(0.55 * var(--rythme));
  background-color: var(--surface1with5opacity);
  padding: calc(0.3 * var(--rythme));
  border-radius: 50%;
  color: black;
  transition: all 0.3s ease-out;
}

#sort-container i:hover {
  background-color: var(--surface1with7opacity);
}

/* ADD BOOKS */
#btn-add-book {
  padding-inline: calc(0.6 * var(--rythme));
  padding-block: calc(0.4 * var(--rythme));
  border-radius: 0.2rem;
  border: none;
  outline: 1px solid var(--surface1with50opacity);
  width: 100%;
  background-color: var(--accentwith10opacity);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

#btn-add-book i {
  background-color: var(--surface1with90opacity);
  padding: calc(0.3 * var(--rythme));
  border-radius: 50%;
  color: var(--white);
  transition: all 0.3s ease-out;
}

#flexer-adding-books-fields {
  width: 100%;
  margin-top: calc(0.25 * var(--rythme));
  display: flex;
  flex-direction: column;
  padding: calc(0.5 * var(--rythme));
  border: none;
  background-color: var(--accentwith10opacity);
  border-radius: 0.2rem;
  border: none;
  box-shadow: 1px 1px 2px 0.1px var(--shadow);
  gap: calc(0.25 * var(--rythme));
}

#flexer-adding-books-fields input:not([type="file"]) {
  appearance: none;
  border: none;
  padding-block: 0.3ch;
  padding-inline: 0.8ch;
  border-bottom: 1px solid var(--surface1);
  background-color: var(--bg);
  border-radius: 0.2rem 0.2rem 0 0;
  transition: all 0.2s ease-out;
}

#add-book-flexer {
  margin-top: calc(0.5 * var(--rythme));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(0.5 * var(--rythme));
}

#add-book-flexer button {
  background-color: var(--accent);
  color: var(--bg);
  border: 1px ridge var(--accent);
  border-radius: 0.4rem;
  padding-block: calc(0.2 * var(--rythme));
  padding-inline: calc(0.4 * var(--rythme));
}

#add-book-flexer button:first-child {
  background-color: transparent;
  color: var(--accent);
}

/* CONNEXION */
#btn-connexion {
  view-transition-name: connexion;
  padding-block: calc(0.4 * var(--rythme));
  padding-inline: calc(0.6 * var(--rythme));
  font-weight: 500;
  border: 1px ridge transparent;
  background-color: var(--surface1with7opacity);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 1px 0px var(--shadow);
  transition: all 0.2s ease;
  line-height: 1rlh;
}

#btn-connexion:hover {
  background-color: var(--surface1with7opacity);
  border: 1px ridge var(--surface1);
}

#bouton-and-dialog {
  position: relative;
}

dialog {
  transform: translateY(5%);
  z-index: 999;
  position: absolute;
  left: unset; /*RESOUD LA NON POSSIBILITE DE POSITION ABSOLUTE RIGHT*/
  right: var(--rythme);
  padding: calc(0.5 * var(--rythme));
  border: 1px solid transparent;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px 0px var(--shadow);
  transition: all 0.2s ease-out;
  opacity: 1;
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--rythme));
}

dialog input {
  appearance: none;
  border: none;
  padding-block: 0.3ch;
  padding-inline: 0.8ch;
  border-bottom: 1px solid var(--surface1);
  background-color: var(--surface1with5opacity);
  border-radius: 0.2rem 0.2rem 0 0;
  transition: all 0.2s ease-out;
}

dialog button {
  background-color: var(--accentwith10opacity);
  border: 1px ridge var(--surface1with98opacity);
  border-radius: 0.4rem;
  padding-block: calc(0.3 * var(--rythme));
  padding-inline: calc(0.6 * var(--rythme));
}

#cancel-connexion-dialog {
  color: var(--surface1with98opacity);
}

dialog button[type="submit"] {
  background-color: var(--accent);
  color: var(--bg);
  border: 1px solid var(--accent);
}

dialog button[type="submit"]:hover {
  background-color: var(--bg);
  color: var(--accent);
  border: 1px solid var(--accent);
}

#connexion-btn-flexer {
  margin-top: calc(0.5 * var(--rythme));
  display: flex;
  align-items: center;
  gap: calc(0.5 * var(--rythme));
}

#connexion-btn-flexer > * {
  min-width: max-content;
}

/* NOTIF TO CONFIRM THAT USER HAS SUCCESSFULLY SENT FORM */

.notif {
  border: 1px ridge transparent;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5ch;
  position: absolute;
  right: var(--rythme);
  top: calc(4 * var(--rythme));
  padding-inline: calc(0.4 * var(--rythme));
  padding-block: calc(0.2 * var(--rythme));
  border-radius: 0.3rem;
  animation: fade 0.4s ease-out;
  box-shadow: 1px 1px 2px 0px var(--shadow);
  transition: all 0.3s ease-out;
  background-color: var(--bg);
}

#connected-flexer {
  display: flex;
  align-items: baseline;
  gap: 1.3ch;
  line-height: 1rlh;
}

.connected {
  position: fixed;
  top: unset;
  bottom: var(--rythme);
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--green);
  border-color: var(--green);
  width: max-content;
}

#logout-btn {
  border: none;
  opacity: 0.5;
  display: flex;
  align-items: baseline;
  gap: 0.5ch;
}

#connected-second-line {
  display: flex;
  gap: 0.5ch;
  align-items: baseline;
}

#connected-second-line i {
  text-decoration: none;
}

.non-connected {
  color: var(--red);
  border-color: var(--red);
}

@keyframes fade {
  from {
    opacity: 0;
    translate: 100px;
    transform: scale(0.1);
    filter: brightness(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* BOOK CARD */
.book-card {
  flex-direction: column;
  max-width: 400px;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: 1px 1px 2.5px 0px var(--shadow);
}

@supports (animation-timeline: view()){
  .book-card {
    animation: book-entry linear forwards;/*linear pour pas qu'il y ait des différences d'accélération au scroll. forwards pour pas que l'animation disparaisse et flash à la fin*/
    animation-timeline: view();/*l'animation commence quand on voit déjà 200px de l'élément dans le viewport*/
    animation-range: entry 0% 35%;
    opacity: 0;
      scale: .8;
      filter: blur(5px);
  }
}

@keyframes book-entry {
  to{
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}

.book-card img {
  width: 100%;
  overflow: hidden;
}

.book-details {
  padding-block: var(--rythme);
  padding-inline: calc(0.5*var(--rythme));
}

.book-details-list {
  margin-top: calc(0.5*var(--rythme));
  display: flex;
  flex-direction: column;
  gap: calc(0.25*var(--rythme));
}

/* FONT STYLES */
@font-face {
  font-family: 'Overused Grotesk';
  src:
    url('OverusedGrotesk-VF.woff2') format('woff2 supports variations'),
    url('OverusedGrotesk-VF.woff2') format('woff2-variations');
  font-weight: 300 900;
}
h2 {
  font-weight: 500;
}

#page-title {
  font-size: calc(2*var(--rythme));
  font-weight: 700;
  letter-spacing: -0.05rem;
}

/* PAGINATION */
#pager-container {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.5* var(--rythme));
  grid-column: 2 / 3;
}

.page-btn {
  padding-inline: calc(0.5*var(--rythme));
  padding-block: calc(0.25*var(--rythme));
  border-radius: 0.3rem;
  border: none;
  background-color: var(--accentwith10opacity);
  box-shadow: 1px 1px 2px 0px var(--shadow);
  transition: all 0.3s ease-out;
  border: 1px ridge var(--accentwith10opacity);
}

.page-btn:hover{
  border-color: var(--accent)
}
  
.btn-active{
  background-color: var(--accent);
  color : var(--bg);
}

/* RESERVER */
.reserver {
  margin-top: auto;
  padding-inline: calc(0.5*var(--rythme));
  padding-bottom: var(--rythme);
}

.btn-reserver {
  transition: all 0.2s ease-out;
  border: 1px ridge transparent;
  line-height: 1rlh;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 1.3ch;
  justify-content: space-between;
  background-color: var(--accent);
  color: white;
  padding-block: calc(0.25*var(--rythme));
  padding-inline: calc(0.5*var(--rythme));
  border-radius: 0.15rem;
  box-shadow: 1px 1px 2px 0px var(--shadow);
}

.btn-reserver-divider {
  min-height: 0.8rlh;
  border: 0.1px ridge white;
  overflow: visible;
  border-radius: 1px;
}


.btn-reserver i {
  color: white;
  font-size: 0.8rlh;
}

.btn-reserver:hover{
  background-color: var(--accentwith10opacity);
  border-color: var(--accent);
  color: var(--accent);
}

.btn-reserver:hover i {
  color: var(--accent);
}

.btn-reserver:hover .btn-reserver-divider {
  border-color: var(--accent);
}

.btn-reserver:disabled {
  background-color: dimgrey;
  color: white;
  cursor: not-allowed;
  pointer-events: none;/*enlève le changement de style quand hover*/
}

#red-card-notif{
  display: none;
  opacity: 0;
  scale: .6;
  animation: fade-in 0.1s ease-out forwards;
  filter: brightness(10);
  position: absolute;
  background: red;
  box-shadow: 0 0 4px red;
  backdrop-filter: blur(10px);
  width: 0.5rem;
  height: 0.5rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  top: -0.4rem;
  right: -0.3rem;
}

@keyframes fade-in {
  to{
    opacity: 1;
    scale: 1;
  }
}