<div id="wrapper-for-book-card">
            {% for row in sanitarizedRows %}
              {# boucle sur chaque livre #}
              <article class="book-card">
                {% for book in bookcovers %}
                  {#pour chaque image de couverture de la table #}
                  {% if book.ISBN13 === row.ISBN13 %}
                    {# si l'ISBN13 de l'img de couverture correspond à l'ISBN13 de mon livre #}
                    <div class="book-cover-parent">
                      <img data-tilt data-tilt-glare data-tilt-scale="1.1" data-tilt-max-glare="0.9" data-tilt-perspective="500" class="book-cover" src="{{ book.BookCoverUrl }}">
                    </div>
                  {% endif %}
                {% endfor %}
                <section class="book-details">
                  <h2>{{ row.Title }}</h2>
                  <ul class="book-details-list">
                    <li>Author: {{ row.Author }}</li>
                    <li>Publisher: {{ row.Publisher }}</li>
                    <li>Average Rating (Goodreads): {{ row.AverageRating }}</li>
                  </ul>
                </section class="book-details">
              </article>
            {% endfor %}
          </div>